<!-- Extiende la plantilla "base.html" -->
{% extends "registro/base.html" %}


<!-- Cargamos las etiquetas estáticas para poder acceder a los archivos estáticos (como CSS y JavaScript). -->
{% load static %}

<!-- Cargamos el paquete de etiquetas de Crispy Forms para dar estilo al formulario -->
{% load crispy_forms_tags %}

<!-- Estos bloques delimitan el contenido específico de esta plantilla que será renderizado dentro del bloque content de la plantilla base. -->
 


    
{% block content %}

    <!-- Itera a través de los mensajes almacenados en "messages" y muestra alertas -->
    <!-- "messages" に保存されたメッセージを繰り返し処理し、アラートを表示します -->
    {% for message in messages %}
    <div class="container">

      <div class="alert alert-{{ message.tags }} alert-dismissible text-black">
        {{ message }}
      <!-- Botón para cerrar la alerta -->
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
    {% endfor %}


<div class="fondo">
<div class="container  d-flex align-items-center justify-content-center min-vh-100">
  <div class="card bg-light" style="width: 25rem;">
    <div class="card-body p-3 mx-3">

      <!-- Creamos un formulario de inicio de sesión -->
      <!-- ログインフォームを作成しました -->
      <form method="post" style="color: rgb(0, 0, 0);">

        <!-- Agregamos el token CSRF para protección contra ataques CSRF -->
        {% csrf_token %}

        <div style="width: 100%; margin:auto;">

          <!-- Usamos Crispy Forms para dar estilo al formulario -->
           <!-- フォームのスタイリングにCrispy Formsを使用しています -->
          {{ form|crispy }}

          <!-- Agregamos un botón para enviar el formulario -->
          <button type="submit" class="btn btn-success">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}

